.advantages {
  background-color: white;
  padding-top: 20px;
  text-align: center;
}

.advantages__tagline {
  margin: 0;
  padding: 15px 0;
  font-size: 24px;
  color: $color-bluegrey;
  font-weight: 300;
}

.advantages__wrapper {
  background-color: #f2f2f2;
}

.advantages__list {
  padding: 0;
  list-style: none;
}

.advantages__item {
  margin: 20px 0;
  padding: 0 20px;
}

.advantages__item h3 {
  font-size: 18px;
  line-height: 24px;
}

.advantages__item p {
  font-size: 14px;
  line-height: 24px;
}

.advantages__image {
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .advantages__tagline {
    font-size: 40px;
    line-height: 48px;
    padding: 0;
  }

  .advantages__container {
    display: flex;
    justify-content: space-between;
  }

  .advantages__list {
    order: 1;
    text-align: left;
    width: 310px;
  }

  .advantages__image {
    width: 268px;
    height: auto;
  }
}
