.author {
  padding: 19px 10px 20px 18px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  & div:first-child {
    flex-grow: 0;
  }
}

.author__name {
  color: #283645;
  font-size: 14px;
  font-weight: 700;
}

.author__time {
  color: #d22856;
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}

.author__comment {
  font-size: 14px;
  line-height: 24px;
  margin: 0 0 9px;
  width: 100%;
  flex-grow: 1;
}

.author--day {
  margin: 0 20px;
}

@media (min-width: $tablet-width) {
  .author {
    padding: 23px 33px 22px 25px;
  }

  .author__comment {
    margin: 0 0 12px 0;
  }

  .author--day .author__comment {
    order: 3;
    margin: 0;
  }

  .author--day {
    padding: 23px 30px 25px 27px;
    flex-direction: row;
    justify-content: space-between;
    width: 620px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .author {
    padding: 25px 33px 20px 27px;
  }

  .author--day {
    width: 940px;
    padding: 23px 32px 22px 27px;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
  }
}
