.author {
  padding: 25px 13px;
  display: flex;
  flex-wrap: wrap;
}

.author__name {
  color: #283645;
  font-size: 14px;
  font-weight: 700;
}

.author__time {
  padding: 0 4px;
  color: #d22856;
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}

.author p {
  margin: 0;
  width: 100%;
}
