.button {
  color: white;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  text-align: center;
  border: 3px solid white;
  border-radius: 25px;
  padding: 15px;
}


.button--pink {
  color: #d22856;
  border: 3px solid #d22856;
  background-color: white;
}
