.button {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  text-align: center;
  border-radius: 30px;
  padding: 15px 15px 16px;
  width: 100%;
  outline: none;
}


.button--pink {
  color: #d22856;
  border: 3px solid $color-darkred;
  background-color: white;

  &:hover,
  &:focus {
    color: white;
    background-color: $color-darkred;
    transition: 0.3s;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: $color-darkred;
  }
}

.button--grey {
  color: $color-bluegrey;
  border: 3px solid $color-bluegrey;
  background-color: white;
  opacity: 0.1;

  &:hover,
  &:focus {
    opacity: 0.3;
    transition: 0.3s;
  }

  &:active {
    background-color: $color-bluegrey;
    color: rgba(255, 255, 255, 0.3);
    opacity: 0.3;
  }
}

.button--white {
  color: white;
  border: 3px solid white;

  &:hover,
  &:focus {
    color: $color-darkred;
    background-color: white;
    transition: 0.3s;
  }

  &:active {
    color: rgba(210, 40, 86, 0.3);
  }
}

@media (min-width: $desktop-width) {
  .button--white {
    font-size: 21px;
  }
}
