.container {
  width: 320px;
  margin: 0 auto;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .container {
    width: 620px;
  }
}

@media (min-width: $desktop-width) {
  .container {
    width: 940px;
  }
}
