.download {
  color: white;
  background-color: #1d2631;
  margin-top: -66px;
}

.download__container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.download__title {
  margin: 0;
  padding: 85px 20px 310px;
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  z-index: 2;
  background-image: url("../img/iphone-hand-mobile@1x.png"), url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: left bottom;
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/iphone-hand-mobile@2x.png"), url("../img/bg-back-mobile@2x.jpg");
    background-size: 258px auto, 320px auto;
  }
}

.download__button {
}

.download__list {
  margin: 30px 0 25px;
  padding: 0 37px;
  list-style: none;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.download__app {
  display: flex;
  flex-direction: column;
  padding: 28px 20px;
  z-index: 2;
  & p {
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    font-weight: 300;
    margin: 0;
    padding: 0;
  }
}

@media (min-width: $tablet-width) {
  .download {
    margin-top: -110px;
    background-image: url("../img/iphone-hand-tablet@1x.png"), url("../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: center bottom;
    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-hand-tablet@2x.png"), url("../img/bg-back-tablet@2x.jpg");
      background-size: 700px auto, 1200px auto;
    }
  }

  .download__image {
    position: absolute;
    bottom: 0;
    overflow: hidden;
  }

  .download__container {
    min-height: 730px;
  }

  .download__title {
    width: 300px;
    font-size: 40px;
    line-height: 46px;
    padding: 210px 40px 30px;
    background-image: none;
  }

  .download__list {
    margin: 45px 0 40px;
    padding: 0 45px;
  }

  .download__app{
    width: 300px;
    padding: 0 0 100px;
    & p {
      font-size: 18px;
    }
  }
}

@media (min-width: $desktop-width) {
  .download {
    background-image: url("../img/iphone-hand-desktop@1x.png"), url("../img/bg-back-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: right bottom, center bottom;
    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-hand-desktop@2x.png"), url("../img/bg-back-desktop@2x.jpg");
      background-size: 1050px auto, 2560px auto;
    }
  }

  .download__container {
    min-height: 853px;
  }

  .download__list {
    margin: 65px 0 60px;
    padding: 0 45px;
  }

  .download__title {
    font-size: 50px;
    line-height: 60px;
    padding: 220px 30px 50px;
  }
}
