.download {
  color: white;
  background-color: #1d2631;
  display: flex;
  flex-direction: column;
}

.download__wrapper {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.download__wrapper p {
  margin: 0;
  padding: 20px;
  text-align: center;
  font-size: 24px;
  font-weight: 300;
}

.download__button {
  margin: 28px 0;
}

.download__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}

.download__app {
  display: flex;
  flex-direction: column;
}

.download__app p {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  font-weight: 300;
}
