.download {
  color: white;
  background-color: #1d2631;
}

.download__container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.download__tagline {
  margin: 0;
  padding: 20px;
  text-align: center;
  font-size: 24px;
  font-weight: 300;
}

.download__button {
  margin-bottom: 28px;
}

.download__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}

.download__app {
  display: flex;
  flex-direction: column;
  padding: 28px 20px;
}

.download__app p {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .download__container img {
    position: absolute;
    bottom: 0;
    right: 20%;
  }

  .download__container {
    min-height: 620px;
    justify-content: space-between;
  }

  .download__tagline {
    font-size: 40px;
    padding: 20px 40px;
  }

  .download__app{
    width: 300px;
    padding-bottom: 100px;
  }

  .download__tagline {
    width: 300px;
    padding-top: 100px;
  }
}
