.feedback {
  padding: 40px 0 25px;
  text-align: center;
}

.feedback__tagline {
  margin: 0;
  padding: 0 20px 23px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  text-align: center;
}

.feedback__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.feedback__item {
  padding: 10px 20px;
}

.feedback__item p {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}

.feedback__item a,
.feedback__item address {
  font-size: 24px;
  color: #d22856;
  font-weight: 300;
  font-style: normal;
}

.feedback__item--mail a {
  &:hover,
  &:focus {
    color: $color-bluegrey;
    text-decoration: underline;
    transition: 0.3s;
  }
  &:active {
    color: $color-bluegrey;
    text-decoration: underline;
    opacity: 0.3;
    transition: 0.3s;
  }
}


@media (min-width: $tablet-width) {
  .feedback {
    padding-bottom: 20px;
}

  .feedback__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .feedback__item {
    width: 300px;
    padding: 10px 10px;
    &:first-of-type {
      margin-right: 20px;
      margin-bottom: 25px;
    }
    p {
      margin-bottom: 5px;
    }
  }

  .feedback__tagline {
    padding: 7px 120px 32px;
    font-size: 40px;
    line-height: 48px;
  }

  .feedback__item a,
  .feedback__item address {
    line-height: 30px;
  }

  .feedback__map {
    width: 660px;
    margin: 0 auto;
  }

  .feedback__map iframe {
    width: 660px;
    height: 380px;
  }
}

@media (min-width: $desktop-width) {
  .feedback {
    padding-bottom: 10px;
  }

  .feedback__list {
    justify-content: space-between;
  }

  .feedback__item:first-of-type {
    margin: 0;
  }

  .feedback__item:nth-child(2) {
    order: 3;
  }

  .feedback__item p {
    margin-bottom: 25px;
  }

  .feedback__tagline {
    padding: 25px 220px 45px;
    font-size: 50px;
    line-height: 60px;
  }

  .feedback__map {
    width: 1200px;
    margin: 0 auto;
  }

  .feedback__map iframe {
    width: 1200px;
    height: 500px;
  }
}
