.feedback {
position: relative;
  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  text-align: center;
  padding-bottom: 200px;
  background-color: white;
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-map-mobile@2x.jpg");
    background-size: 320px auto;
  }
  &::before {
  content: "";
  position: absolute;
  bottom: 70px;
  width: 36px;
  height: 36px;
  margin-left: -18px;
  border-radius: 50%;
  background-color: $color-darkred;
  border: 10px solid white;
}
}

.feedback__wrapper {
  background-color: white;
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.feedback__wrapper::after {
  content: "";
  position: absolute;
  bottom: -125px;
  right: 0;
  width: 100%;
  height: 125px;
  background-image: url("../img/bg-triangle-white-footer.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.feedback__wrapper

.feedback__tagline {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  text-align: center;
}

.feedback__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.feedback__item {
  padding: 10px 0;
}

.feedback__item p {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}

.feedback__item a,
.feedback__item address {
  font-size: 24px;
  color: #d22856;
  font-weight: 300;
  font-style: normal;
}

.feedback__item--mail a {
  &:hover,
  &:focus {
    color: $color-bluegrey;
    text-decoration: underline;
    transition: 0.3s;
  }
  &:active {
    color: $color-bluegrey;
    text-decoration: underline;
    opacity: 0.3;
    transition: 0.3s;
  }
}


@media (min-width: $tablet-width) {
  .feedback__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .feedback__item {
    width: 250px;
  }

  .feedback {
    background-color: white;
    background-image: url("../img/bg-map-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: center -100px;
    padding-bottom: 375px;
    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-tablet@2x.jpg");
      background-size: 700px auto;
    }
    &::before {
      bottom: 147px;
    }
  }

  .feedback__tagline {
    font-size: 40px;
    line-height: 48px;
  }
}

@media (min-width: $desktop-width) {
  .feedback {
    background-color: white;
    background-image: url("../img/bg-map-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: center -110px;;
    padding-bottom: 500px;
    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-desktop@2x.jpg");
      background-size: 1200px auto;
    }
    &::before {
      bottom: 205px;
    }
  }

  .feedback__item:nth-child(2) {
    order: 3;
  }

  .feedback__tagline {
    font-size: 50px;
    line-height: 60px;
  }
}
