.feedback {
  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  padding-bottom: 240px;
  background-color: white;
}

.feedback__wrapper {
  background-color: white;
}

.feedback__tagline {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  text-align: center;
}

.feedback__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.feedback__item {
  padding: 10px 0;
}

.feedback__item p {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}

.feedback__item a,
.feedback__item address {
  font-size: 24px;
  color: #d22856;
  font-weight: 300;
  font-style: normal;
}


@media (min-width: $tablet-width) {
  .feedback__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .feedback__item {
    width: 250px;
  }

  .feedback {
    background-color: white;
    background-image: url("../img/bg-map-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 370px;
  }

  .feedback__tagline {
    font-size: 40px;
    line-height: 48px;
  }
}

@media (min-width: $desktop-width) {
  .feedback {
    background-color: white;
    background-image: url("../img/bg-map-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 500px;
  }

  .feedback__item:nth-child(2) {
    order: 3;
  }

  .feedback__tagline {
    font-size: 50px;
    line-height: 60px;
  }
}
