.form {
  display: flex;
  flex-direction: column;
  margin-top: -30px;
  background-color: white;
  position: relative;
  z-index: 2;
}

.form__user {
  padding: 35px 20px 45px;
}

.form__user label {
  padding: 0 20px;
  font-size: 14px;
  line-height: 30px;
  color: #d22856;
  text-transform: uppercase;
}

.form__user input {
  padding: 17.5px;
  min-width: 280px;
  font-size: 18px;
  border: 2px solid #e5e5e5;
  border-radius: 2px;
  color: #283645;
  &:hover {
    border-color: $color-bluegrey;
    transition: 0.3s;
  }
  &:focus {
    outline: none;
    border-color: $color-darkred;
    transition: 0.3s;
  }
}

.form__wrapper {
  background-color: #f2f2f2;
  padding: 40px 0;
}

.form__text {
  margin-top: 20px;
  text-align: center;
}

.form__text label {
  padding: 0 20px;
  font-size: 14px;
  line-height: 18px;
  color: #d22856;
  text-transform: uppercase;
  text-align: center;
}

.form__text textarea {
  min-width: 280px;
  width: 100%;
  min-height: 200px;
  padding: 20px;
  font-size: 18px;
  font-family: "OpenSans", "Arial", sans-serif;
  border: 2px solid #e5e5e5;
  border-radius: 2px;
  color: #283645;
  &:hover {
    border-color: $color-bluegrey;
    transition: 0.3s;
  }
  &:focus {
    outline: none;
    border-color: $color-darkred;
    transition: 0.3s;
  }
}

.form__button {
  min-width: 280px;
  padding: 20px;
  color: white;
  background-color: #2aab6d;
  border: 0;
  text-transform: uppercase;
  border-radius: 2px;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  &:hover,
  &:focus {
    background-color: #1c9b5e;
    outline: none;
    transition: 0.3s;
  }
  &:active {
    color: rgba(255,255,255,0.3);
    background-color: #1c9b5e;
    transition: 0.3s;
  }
  &:disabled {
    background-color: #e5e5e5;
  }
}

.form__footer {
  margin-top: 50px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__footer > p {
  margin: 40px 0 25px;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
}

.form__footer span {
  color: #d22856;
}

@media (min-width: $tablet-width) {
  .form__wrapper {
    padding: 60px 0;
    background-color: white;
  }

  .form {
    margin: 0;
  }

  .form__user {
    padding: 35px 0 0;
  }

  .form__text {
    margin-top: 0;
  }

  .form__text textarea {
    min-height: 190px;
  }

  .form__user label {
    padding-top: 10px;
  }

  .form__footer {
    order: 6;
    padding: 0;
    margin: 70px auto 50px;
    flex-direction: row;
    justify-content: space-between;
  }

  .form__footer > p {
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .form {
    width: 940px;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form__user {
    padding: 0;
    margin: 60px auto;
  }

  .form__wrapper {
    padding: 0;
  }

  .form__text textarea {
    min-height: 125px;
  }

  .form__footer {
    margin-top: 65px;
    margin-bottom: 0;
  }
}
