.form {
  display: flex;
  flex-direction: column;
}

.form__user {
  padding: 35px 20px;
}

.form__user label {
  padding: 0 20px;
  font-size: 14px;
  line-height: 30px;
  color: #d22856;
  text-transform: uppercase;
}

.form__user input {
  padding: 17.5px;
  min-width: 280px;
  font-size: 18px;
  border: 2px solid #e5e5e5;
  border-radius: 2px;
  color: #283645;
  &:hover {
    border-color: $color-bluegrey;
  }
  &:focus {
    outline: none;
    border-color: $color-darkred;
  }
}

.form__wrapper {
  background-color: #f2f2f2;
  padding: 40px 0;
}

.form__text {
  margin-top: 20px;
  text-align: center;
}

.form__text label {
  padding: 0 20px;
  font-size: 14px;
  line-height: 18px;
  color: #d22856;
  text-transform: uppercase;
  text-align: center;
}

.form__text textarea {
  min-width: 280px;
  width: 100%;
  min-height: 200px;
  padding: 20px 15px;
  font-size: 18px;
  border: 2px solid #e5e5e5;
  border-radius: 2px;
  color: #283645;
  &:hover {
    border-color: $color-bluegrey;
  }
  &:focus {
    outline: none;
    border-color: $color-darkred;
  }
}

.form__button {
  min-width: 280px;
  padding: 20px;
  color: white;
  background-color: #2aab6d;
  border: 0;
  text-transform: uppercase;
  border-radius: 2px;
}

.form__footer {
  margin-top: 20px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__footer > p {
  margin: 0;
  text-align: center;
}

.form__footer span {
  color: #d22856;
}

@media (min-width: $tablet-width) {
  .form__wrapper {
    background-color: white;
  }

  .form__user {
    padding: 35px 0;
  }

  .form__footer {
    order: 6;
    padding: 0;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .form {
    width: 940px;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form__footer {
    margin-top: 65px;
    margin-bottom: 40px;
  }
}
