.main-nav {
  position: relative;
}

.main-nav__toggle {
  position: absolute;
  padding: 0;
  margin: 0;
  top: -45px;
  right: 20px;
  z-index: 2;
  display: block;
  width: 50px;
  height: 24px;
  background-color: $color-bluegrey;
  cursor: pointer;
  border: none;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 4px;
  background-color: #ffffff;
  box-shadow: 0 10px 0 0 #ffffff, 0 20px 0 0 #ffffff;
}

.main-nav--closed .main-nav__toggle:hover::before,
.main-nav--closed .main-nav__toggle:focus::before {
  background-color: $color-darkred;
  box-shadow: 0 10px 0 0 $color-darkred, 0 20px 0 0 $color-darkred;
}

.main-nav--closed .main-nav__toggle:active::before {
  background-color: $color-darkred;
  box-shadow: 0 10px 0 0 $color-darkred, 0 20px 0 0 $color-darkred;
  opacity: 0.3;
}

.main-nav--opened .main-nav__toggle {
  width: 23px;
  height: 23px;
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 10px;
    right: -3px;
    width: 30px;
    height: 5px;
    background-color: #ffffff;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover::before,
  &:hover::after,
  &:focus::before,
  &:focus::after {
  background-color: $color-darkred;
  }

  &:active::before,
  &:active::after {
  background-color: #592f47;
  }
}

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.main-nav__item {
  padding: 20px 0;
  border-bottom: 1px solid black;
  text-align: center;
  box-shadow: inset 0px 1px 0 0 rgba(255, 255, 255, 0.15);
}

.main-nav__item a {
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
}

.main-nav__item a[href] {
  &:hover,
  &:focus {
    color: $color-darkred;
  }

  &:active {
    color: $color-darkred;
    opacity: 0.3;
  }
}


@media (max-width: $device-width-only) {
  .main-nav--closed .main-nav__item {
    display: none;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }
  .main-nav--nojs .main-nav__item {
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .main-nav__toggle {
    top: -65px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    width: auto;
    margin: 0;
    flex-grow: 1;
  }

  .main-nav__item {
    border-bottom: none;
    box-shadow: none;
  }

  .main-nav__item--active {
    border-bottom: 2px solid white;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    flex-direction: row;
    justify-content: space-around;
  }

  .main-nav__item a {
    color: white;
    text-transform: none;
    text-align: center;
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
  }
}
