.page-photo {
  background-color: white;
}

.page-photo__wrapper {
  background-color: black;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 20%;
  background-size: 100%;
}

.page-photo__title {
  color: white;
  min-height: 170px;
  padding: 35px;
  text-align: center;
  font-size: 24px;
  font-weight: 300;
}

@media (min-width: $tablet-width) {
  .page-photo__wrapper {
    background-image: url("../img/bg-back-tablet@1x.jpg");
  }

  .page-photo__title {
    padding: 80px;
    min-height: 330px;
    font-size: 50px;
    line-height: 60px;
  }
}

@media (min-width: $desktop-width) {
  .page-photo__wrapper {
    background-image: url("../img/bg-back-desktop@1x.jpg");
  }

  .page-photo__title {
    padding: 75px 250px 0;
    min-height: 285px;
  }
}
