.page-footer {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-footer__logo {
  margin: 40px 0;
  color: $color-bluegrey;
}

.page-footer__logo[href] {
  &:hover {
    color: $color-darkred;
    transition: 0.3s;
  }
  &:active {
    color: $color-bluegrey;
    opacity: 0.3;
    transition: 0.3s;
  }
}

.page-footer__image {
  display: block;
}

.page-footer__image--desktop {
  display: none;
}

.page-footer__html {
  margin: 40px 0;
  font-size: 14px;
  display: flex;
  align-items: center;
  fill: $color-darkred;
  &:hover,
  &:active {
    color: $color-bluegrey;
  }
}

.page-footer__html p {
  color: $color-bluegrey;
  margin: 0;
  padding-right: 15px;
}

.page-footer__index {
  display: none;
}

.page-footer__html {
  fill: $color-darkred;
  &:hover svg,
  &:focus svg {
    fill: $color-bluegrey;
    transition: 0.3s;
  }
  &:active svg {
    fill: $color-bluegrey;
    opacity: 0.3;
    transition: 0.3s;
  }
}

@media (min-width: $tablet-width) {
  .page-footer__index {
    display: block;
  }

  .page-footer__logo {
    margin: 36px 0 51px;
  }

  .page-footer__html {
    margin: 50px 0 43px;
  }

  .page-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__logo {
    margin: 70px 0 87px;
  }

  .page-footer__image--mobile {
    display: none;
  }

  .page-footer__image--desktop {
    display: block;
  }

  .page-footer__html {
    margin: 85px 0 78px;
  }

  .page-footer__html p {
    font-size: 18px;
  }
}
