.page-header {
  background-color: #283645;
  color: white;
  position: relative;
  display: flex;
  flex-direction: column;
}

.page-header__logo {
  padding: 20px;
  border-bottom: 1px solid black;
  line-height: 20px;
}

