.page-form {
  background-color: white;
}

.page-form__wrapper {
  background-color: #1d2631;
  margin-top: -66px;
}

.page-form__title {
  color: white;
  min-height: 236px;
  padding: 100px 35px 35px;
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: left top;
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-size: 320px auto;
  }
}

.page-form__tagline {
  width: 280px;
  margin: 0 auto;
  padding: 45px 0 0;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .page-form__wrapper {
    margin-top: -110px;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
      background-size: 1200px auto;
    }
  }

  .page-form__title {
    padding: 180px 70px 70px;
    min-height: 440px;
    font-size: 50px;
    line-height: 60px;
    background-image: none;
  }

  .page-form__tagline {
    font-size: 18px;
    line-height: 30px;
    width: 500px;
    margin: 0 auto;
    padding: 100px 0 30px;
  }
}

@media (min-width: $desktop-width) {
  .page-form__wrapper {
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-position: center top;
    background-size: 2560px auto;
    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }
  }

  .page-form__title {
    padding: 185px 90px 75px;
    min-height: 395px;
  }

  .page-form__tagline {
    width: 780px;
    padding: 100px 0 60px;
  }
}
