.photos {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #283645;
}

.photos h2 {
  color: white;
  margin: 0;
  min-height: 170px;
  padding: 35px;
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  background-color: black;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 20%;
}

.photos > p {
  text-align: center;
  margin: 0;
  padding: 45px 35px;
  line-height: 30px;
}

.photos__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.photos__item {
  background-color: #f2f2f2;
  margin: 20px;
}

.photos__like {
  display: flex;
  flex-wrap: wrap;
  padding-top: 15px;
  color: #d22856;
  font-size: 12px;
  text-transform: uppercase;
}

/* Фотография дня */

.photos__day {
  position: relative;
  margin: 0px;
  .photos__author {
  margin: 0 20px;
  }
}

.photos__day-flag {
  position: absolute;
  top: 0;
  right: 20px;
  color: white;
  background-color: #d22856;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  padding: 6px 20px;
}
