.photos {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: $color-bluegrey;
}

.photos__tagline {
  width: 280px;
  margin: 0 auto;
  text-align: center;
  padding: 45px 15px 47px;
  font-size: 14px;
  line-height: 30px;
}

.photos__list {
  list-style: none;
}

.photos__item {
  margin-top: 19px;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.photos__link {
  cursor: zoom-in;
}

.photos__author {
  flex-grow: 1;
  background-color: #f2f2f2;
}

.photos__like {
  display: flex;
  flex-wrap: wrap;
  color: #d22856;
  font-size: 12px;
  text-transform: uppercase;
  align-items: center;
}

.photos__like button {
  width: 13px;
  height: 13px;
  margin: 0 18px 0 0;
  padding: 0;
  cursor: pointer;
  border: 0;
  background-image: url("../img/icon-heart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100%;
}

/* Фотография дня */

.photos__day {
  position: relative;
  max-width: 320px;
  margin: 0 auto;
}

.photos__day-image {
  width: 320px;
}

.photos__day-image__wrapper::before {
  content: "Панорама дня";
  position: absolute;
  width: 140px;
  height: 36px;
  top: 0;
  right: 20px;
  color: white;
  background-color: #d22856;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  padding: 6px 20px;
}

@media (min-width: $tablet-width) {
  .photos__tagline {
    width: 500px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 30px;
    padding: 91px 0 76px;
  }

  .photos__day-image__wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    &::before {
      top: 57px;
    }
  }

  .photos__day {
    margin: 0 auto 30px;
    max-width: 700px;
  }

  .photos__day-image {
    min-width: 700px;
  }

  .photos__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .photos__item {
    width: 300px;
    margin-right: 20px;
    padding: 0;
    .photos__author {
      min-height: 155px;
    }
  }

  .photos__like {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .photos__like button {
    margin: 0 0 0 18px;
  }

  .photos__day .photos__like {
    flex-grow: 0;
  }

  .photos__item:nth-of-type(2n) {
    margin-right: 0;
  }
}

@media (min-width: $desktop-width) {
  .photos__tagline {
    width: 600px;
    padding: 100px 0 90px;
  }

  .photos__day-image__wrapper::before {
    right: 130px;
    top: 54px;
  }

  .photos__day {
    max-width: 1200px;
  }

  .photos__day-image {
    min-width: 1200px;
  }

  .photos__item {
    width: 300px;
    margin-bottom: 34px;
  }

  .photos__item:nth-of-type(2n) {
    margin-right: 20px;
  }

  .photos__item:nth-of-type(3n) {
    margin-right: 0;
  }
}
