.price {
  padding: 85px 0 47px 0;
  background-color: #f2f2f2;
  background-image: url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: 100%;
}

.price__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3px 20px;
  overflow: hidden;
}

.price__table {
  border-collapse: collapse;
  margin: 0 0 43px 0;
  width: 300%;
  transition: transform 0.5s ease;
}

.price__table th {
  border-left: 2px solid #f2f2f2;
}

.price__table td {
  border: 2px solid #e5e5e5;
}

.price__table-head {
  position: relative;
  min-width: 275px;
  padding: 20px 0 20px 0;
  color: #fff;
  text-transform: uppercase;
  background-color: $color-bluegrey;
}

.price__table-head--empty {
  min-width: 0;
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
  background-color: transparent;
  border: none;
}

.price__table-head--hit::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 74px;
  height: 73px;
  background-image: url("../img/bg-hit.svg");
}

.price__table-head--hit::after {
  position: absolute;
  top: 8px;
  left: 6px;
  content: "хит";
  font-weight: 400;
  font-size: 14px;
  width: 74px;
  height: 73px;
  transform: rotate(-45deg);
}

.price__table-title {
  display: block;
  font-size: 18px;
}

.price__table-price {
  display: block;
  padding-top: 2px;
  font-size: 24px;
  font-weight: 300;
}

.price__table tbody {
  background-color: #fff;
  border: 2px solid #e5e5e5;
}

.price__table-value {
  font-size: 14px;
  line-height: 24px;
  min-width: 275px;
  padding: 17px 50px 17px 20px;
  text-transform: uppercase;
  background-repeat: no-repeat;
  background-position: right 18px top 50%;
  background-size: 27px;
}

.price__table-value--not-include {
  background-image: url("../img/icon-no.svg");
}

.price__table-value--include {
  background-image: url("../img/icon-yes.svg");
}

.price__table-value--empty {
  min-width: 0px;
  margin: 0;
  padding: 0;
  font-size: 0px;
  line-height: 0;
  background: transparent;
  border: none;
}

/*слайдер*/

#product-1:checked ~ .price__toggles label[for="product-1"],
#product-2:checked ~ .price__toggles label[for="product-2"],
#product-3:checked ~ .price__toggles label[for="product-3"] {
  background-color: #fff;
  box-shadow: 0 0 0 3px $color-bluegrey;
  opacity: 1;
}

#product-1:checked ~ .price__table {
  transform: translate(33.33%);
}

#product-2:checked ~ .price__table {
  transform: translate(0px);
}

#product-3:checked ~ .price__table {
  transform: translate(-33.33%);
}

@media (min-width: $tablet-width) {
  .price {
    padding: 87px 0 68px;
  }

  .price__wrapper .price__toggles {
    display: none;
  }

  .price__wrapper {
    padding: 0;
  }

  .price__table {
    margin: 0;
    width: 620px;
    transition: transform 0s;
  }

  #product-1:checked ~ .price__table,
  #product-3:checked ~ .price__table {
    transform: translate(0);
  }

  .price__table-head {
    overlflow: hidden;
    min-width: 150px;
    padding: 17px 0 14px;
  }

  .price__table-head--hit::before {
    top: 0;
    left: 0;
    width: 61px;
    height: 61px;
    background-image: url("../img/bg-hit-tablet.svg");
  }

  .price__table-head--hit::after {
    top: 0;
    left: 0;
  }

  .price__table-title {
    font-size: 16px;
  }

  .price__table-price {
    font-size: 18px;
  }

  .price__table-value {
    min-width: 152px;
    padding: 10px 15px;
    font-size: 0px;
    text-transform: capitalize;
    background-position: 50% 50%;
  }

  .price__table-value--empty {
    font-size: 14px;
    background-image: none;
  }
}

@media (min-width: $desktop-width) {
  .price {
    padding: 150px 0 95px;
  }

  .price__table {
    width: 940px;
  }

  .price__table-head {
    min-width: 233px;
    padding: 20px 0;
  }

  .price__table-head--hit::before {
    width: 73px;
    height: 73px;
    background-image: url("../img/bg-hit.svg");
  }

  .price__table-head--hit::after {
    top: 9px;
    left: 7px;
  }

  .price__table-title {
    font-size: 18px;
  }

  .price__table-price {
    font-size: 24px;
  }

  .price__table-value {
    min-width: 233px;
    padding: 14px 22px;
  }

  .price__table-value--empty {
    font-size: 18px;
    line-height: 30px;
    background-image: none;
  }
}
