.reviews {
  background-color: white;
  text-align: center;
  padding: 25px 0 48px;
}

.reviews__wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.reviews__inner {
  overflow: hidden;
  margin: 0 0 35px 0;
  width: 280px;
}

.reviews__list {
  display: flex;
  width: 300%;
  transition: transform 0.5s ease;
}

.reviews__item {
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 280px;
}

.reviews__name {
  margin: 20px 0 15px;
}

.reviews__name h3 {
  font-size: 18px;
  line-height: 24px;
  margin: 0;
}

.reviews__name p {
  display: none;
}

.reviews__item p {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  margin: 0;
}

/*слайдер*/

#review-1:checked ~ .reviews__toggles label[for="review-1"],
#review-2:checked ~ .reviews__toggles label[for="review-2"],
#review-3:checked ~ .reviews__toggles label[for="review-3"] {
  background-color: #fff;
  box-shadow: 0 0 0 3px $color-bluegrey;
  opacity: 1;
}

#review-1:checked ~ .reviews__inner .reviews__list {
  transform: translate(0);
}

#review-2:checked ~ .reviews__inner .reviews__list {
  transform: translate(-33.33333%);
}

#review-3:checked ~ .reviews__inner .reviews__list {
  transform: translate(-66.66666%);
}


@media (min-width: $tablet-width) {
  .reviews {
    padding: 40px 0 25px;
  }

  .reviews__item p {
    font-size: 18px;
    line-height: 30px;
    order: -1;
  }

  .reviews__item {
    width: 620px;
  }

  .reviews__inner {
    width: 620px;
    margin: 0 0 7px;
  }

  .reviews__name {
    margin: 35px 0 0;
  }

  .reviews__name h3 {
    font-size: 20px;
    line-height: 30px;
  }

  .reviews__name p {
    display: block;
    font-size: 14px;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    padding: 72px 0 40px;
  }

  .reviews__wrapper::before {
    content: "";
    poisiton: absolute;
    width: 80px;
    height: 65px;
    top: 0;
    background-image: url("../img/icon-quotes.svg");
    background-repeat: np-repeat;
    background-position: 0 0;
  }

  .reviews__inner {
    margin: 0;
  }

  .reviews__name h3 {
    font-size: 24px;
    line-height: 30px;
  }

  .reviews__name p {
    display: block;
    font-size: 18px;
    margin: 0;
  }

  .reviews__item {
    width: 700px;
  }

  .reviews__inner {
    width: 700px;
    padding-top: 50px;
  }

  #review-1:checked ~ .reviews__toggles label[for="review-1"],
  #review-2:checked ~ .reviews__toggles label[for="review-2"],
  #review-3:checked ~ .reviews__toggles label[for="review-3"] {
  box-shadow: none;
  }

  .reviews__toggles .slider__toggle {
    display: none;
  }

  #review-1:checked ~ .reviews__toggles label[for="review-3"],
  #review-2:checked ~ .reviews__toggles label[for="review-1"],
  #review-3:checked ~ .reviews__toggles label[for="review-2"] {
    position: absolute;
    top: 46%;
    display: block;
    width: 25px;
    height: 50px;
    margin: 0;
    background-color: transparent;
    background-image: url("../img/icon-review-arrow-left.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100%;
    border: 0;
    cursor: pointer;
    left: 0px;
    opacity: 0.3;
    &:hover {
      opacity: 0.6;
    }
    &:active {
      opacity: 0.1;
    }
  }

  #review-1:checked ~ .reviews__toggles label[for="review-2"],
  #review-2:checked ~ .reviews__toggles label[for="review-3"],
  #review-3:checked ~ .reviews__toggles label[for="review-1"] {
    position: absolute;
    top: 46%;
    display: block;
    width: 25px;
    height: 50px;
    margin: 0;
    background-color: transparent;
    background-image: url("../img/icon-review-arrow-right.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100%;
    border: 0;
    cursor: pointer;
    right: 0px;
    opacity: 0.3;
    &:hover {
      opacity: 0.6;
    }
    &:active {
      opacity: 0.1;
    }
  }
}
