.slider__toggles {
  display: flex;
}

.slider__toggle {
  width: 6px;
  height: 6px;
  margin: 0 9px;
  padding: 0;
  background-color: #bec2c7;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
}

@media (min-width: $desktop-width) {
  .slider {
    position: relative;
    padding: 0 22px;
  }




}
