.time-effect__container {
  display: none;
}

.time-effect__list {
  padding: 0 0 27px;
  margin: 0;
  list-style: none;
  width: 310px;
}

.time-effect__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.time-effect__tagline {
  margin: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: black;
}

.time-effect__text {
  font-size: 14px;
  line-height: 24px;
  color: $color-bluegrey;
  margin: 10px 0;
  padding-right: 10px;
}

.time-effect__link {
  font-size: 14px;
  line-height: 24px;
  color: $color-darkred;
  text-decoration: underline;
  cursor: pointer;
}

@media (min-width: $tablet-width) {
  .time-effect__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 60px 0;
  }
}

@media (min-width: $desktop-width) {
  .time-effect {
    background-color: $color-lightgrey;
  }

  .time-effect__container {
    padding: 50px 0 67px;
    justify-content: flex-start;
  }

  .time-effect__img {
    width: 298px;
    height: auto;
  }

  .time-effect__list {
    width: 570px;
    margin-left: 67px;
    padding-bottom: 45px;
  }

  .time-effect__tagline br {
    display: none;
  }

  .time-effect__text {
    font-size: 18px;
    line-height: 30px;
    margin: 20px 0 30px;

    & br {
      display: none;
    }
  }

  .time-effect__link {
    font-size: 18px;
    line-height: 30px;
  }
}
