.user-achievements__form {
  border: 0;
  padding: 0 20px;
}

.user-achievements__form legend {
  padding: 0 20px 15px;
  font-size: 14px;
  line-height: 18px;
  color: #d22856;
  text-transform: uppercase;
  text-align: center;
}

.user-achievements__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.user-achievements__item {
  padding: 29px 0 29px 40px;
}

.user-achievements__item input {
  display: none;
}

.user-achievements__item input + label {
  padding-left: 29px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 39px;
    height: 39px;
    left: -39px;
    top: -7px;
    border: 2px solid #e5e5e5;
    border-radius: 2px;
    background-color: white;
  }
}

.user-achievements__item input:hover + label::before {
  border-color: $color-bluegrey;
  transition: 0.3s;
}

.user-achievements__item input:active + label::before {
  border-color: $color-darkred;
}

.user-achievements__item input:checked + label {
  &::after {
    content: "";
    position: absolute;
    width: 23px;
    height: 17px;
    left: -30px;
    top: 5px;
    background-image: url("../img/icon-yes--red.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}


@media (min-width: $tablet-width) {
  .user-achievements__form {
    border: 2px solid #e5e5e5;
    padding: 0 25px;
  }

  .user-achievements__form legend {
    padding: 0 30px;
  }

  .user-achievements__list {
    padding: 20px 0 28px 33px;
  }

  .user-achievements__item input + label {
    padding-left: 20px;
  }

  .user-achievements {
    order: 4;
  }
}

@media (min-width: $desktop-width) {
  .user-achievements {
    margin-bottom: 57px;
  }

  .user-achievements__list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }

  .user-achievements__item {
    width: 265px;
    margin-right: 40px;
  }

  .user-achievements__item:nth-child(5),
  .user-achievements__item:nth-child(6) {
    margin-right: 0;
  }

  .user-achievements__item:nth-child(even) {
    order: 2;
  }

  .user-achievements__form {
    padding: 22px 0 34px 58px;
  }

  .user-achievements__form legend {
    padding: 0 33px;
  }
}
