.user-name {

}

.user-name__item {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.user-name__item:last-of-type {
  margin-bottom: 0;
}

@media (min-width: $tablet-width) {
  .user-name__item {
    flex-direction: row;
    align-items: center;
    input {
      flex-grow: 1;
    }
    label {
      padding-left: 0;
    }
  }

  .user-name {
    order: 1;
  }
}

@media (min-width: $desktop-width) {
  .user-name {
    width: 435px;
    margin: 0;
  }
}
