.user-app__form {
  border: 0;
  padding: 0 20px;
}

.user-app__form legend {
  padding: 0 20px 15px;
  font-size: 14px;
  line-height: 18px;
  color: #d22856;
  text-transform: uppercase;
  text-align: center;
}

.user-app__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.user-app__item {
  padding: 26px 0 26px 40px;
}

.user-app__item input {
  display: none;
}

.user-app__item input + label {
  padding-left: 29px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 39px;
    height: 39px;
    left: -39px;
    top: -7px;
    border: 2px solid #e5e5e5;
    border-radius: 50%;
    background-color: white;
  }
}

.user-app__item input:hover + label::before {
  border-color: $color-bluegrey;
  transition: 0.3s;
}

.user-app__item input:active + label::before {
  border-color: $color-darkred;
  transition: 0.3s;
}

.user-app__item input:checked + label {
  &::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    left: -27px;
    top: 5px;
    background-color: $color-darkred;
    border-radius: 50%;
  }
}

.user-app__item label {
  padding-left: 30px;
}

@media (min-width: $tablet-width) {
  .user-app__form {
    padding: 0px 25px;
    border: 2px solid #e5e5e5;
  }

  .user-app__form legend {
    padding: 0 25px;;
  }

  .user-app__list {
    display: flex;
    flex-direction: column;
    padding: 25px 0 33px 33px;
  }

  .user-app__item input+label {
    padding-left: 20px;
  }

  .user-app {
    order: 2;
  }
}

@media (min-width: $desktop-width) {
  .user-app {
    width: 435px;
    .container {
    width: 435px;
    }
  }

  .user-app__form {
    margin-top: -8px;
  }

  .user-app__form legend {
    padding: 0 25px;
  }

  .user-app__list {
    padding-left: 50px;
  }
}
