.user-emotions {
  border: 0;
  padding: 0 20px;
}

.user-emotions legend {
  padding: 17px;
  font-size: 14px;
  line-height: 18px;
  color: #d22856;
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .user-emotions {
    border: 2px solid #e5e5e5;
    padding: 30px 60px 50px;
  }

  .user-emotions legend {
    display: block;
    padding: 0 38px;
  }

  .user-emotions {
    order: 5;
    padding: 30px 60px 35px;
  }
}
