.user-emotions {
  border: 0;
  padding: 0 20px;
}

.user-emotions legend {
  margin: 0 auto;
  padding: 17px;
  max-width: 100%;
  font-size: 14px;
  line-height: 18px;
  color: #d22856;
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .user-emotions {
    order: 5;
    border: 2px solid #e5e5e5;
    padding: 35px 57px 47px 59px;
  }

  .user-emotions legend {
    display: block;
    padding: 0 38px;
  }
}

@media (min-width: $desktop-width) {
  .user-emotions {
    padding: 35px 57px 40px 59px;
  }
}
