.page-form > p {
  margin: 0;
  padding: 20px;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}

.form__user {
  padding: 35px 20px;
}

.form__user > div {
  margin-bottom: 20px;
}

.form__user > div:last-child {
  margin-bottom: 40px;
}

.form__user label {
  padding-left: 20px;
  font-size: 14px;
  line-height: 30px;
  color: #d22856;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
}

.form__user input {
  padding: 20px;
  min-width: 280px;
  font-size: 18px;
  border: 2px solid #e5e5e5;
  border-radius: 2px;
  color: #283645;
}

.form__wrapper {
  background-color: #f2f2f2;
  padding: 40px 20px;
}

.options {
  border: 0;
  padding: 0;
}

.options legend {
  padding: 0 20px;
  font-size: 14px;
  line-height: 18px;
  color: #d22856;
  text-transform: uppercase;
  text-align: center;
}

.options__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.options__item {
  padding: 20px 0;
}

.options__item label {
  padding-left: 30px;
}

.form__text {
  padding: 35px 20px;
  text-align: center;
}

.form__text label {
  padding: 0 20px;
  font-size: 14px;
  line-height: 18px;
  color: #d22856;
  text-transform: uppercase;
  text-align: center;
}

.form__text textarea {
  margin-top: 20px;
  min-width: 280px;
  min-height: 200px;
  padding: 20px;
  font-size: 18px;
  border: 2px solid #e5e5e5;
  border-radius: 2px;
  color: #283645;
}


.form__button {
  min-width: 280px;
  margin: 20px;
  padding: 20px;
  color: white;
  background-color: #2aab6d;
  border: 0;
  text-transform: uppercase;
  border-radius: 2px;
}

.form > p {
  margin: 0;
  text-align: center;
}

.form span {
  color: #d22856;
}
