.reviews {
  background-color: white;
  text-align: center;
  padding: 20px;
}

.reviews__item h3 {
  font-size: 18px;
  line-height: 24px;
}

.reviews__item p {
  font-size: 14px;
  line-height: 24px;
}

.slider__controls {
  text-align: center;
}
