@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/opensans.woff") format("woff");
  src: url("../fonts/opensans.woff2") format("woff2");
}

@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/opensansbold.woff") format("woff");
  src: url("../fonts/opensansbold.woff2") format("woff2");
}

@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/opensanslight.woff") format("woff");
  src: url("../fonts/opensanslight.woff2") format("woff2");
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background: pink;
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 18px;
  font-style: normal;
  color: #283645;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  padding: 0;
  margin: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* Начало хедера */

.page-header {
  background-color: #283645;
  color: white;
  position: relative;
  display: flex;
  flex-direction: column;
}

.page-header__logo {
  padding: 20px;
  border-bottom: 1px solid black;
}

.main-nav__toogle {
  position: absolute;
  top: 0;
  right: 0;
}

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-list {
  display: flex;
  flex-direction: column;
}

.site-list__item {
  padding: 20px 0;
  border-bottom: 1px solid black;
  border-top: 1px solid #485461;
  text-align: center;
}

.site-list__item a {
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
}


/* Конец хедера */
/* Начало секции загрузки приложения */

.download {
  color: white;
  background-color: #1d2631;
  display: flex;
  flex-direction: column;
}

.download__wrapper {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  display: flex;
  flex-direction: column;
}

.download__wrapper p {
  margin: 0;
  padding: 25px;
  text-align: center;
  font-size: 24px;
  font-weight: 300;
}

.download-button {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: white;
  text-align: center;
  margin: 28px 20px;
  border: 3px solid white;
  border-radius: 25px;
  padding: 15px;
}

.download-list {
  margin: 0 20px;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}

.download > p {
  font-size: 14px;
  line-height: 24px;
  padding: 0 20px;
  text-align: center;
  font-weight: 300;
}

/* Конец секции загрузки приложения */

/* Начало секции с приемуществами */

.advantages {
  background-color: white;
  padding-top: 20px;
  text-align: center;
}

.advantages > p {
  margin: 0;
  padding: 15px 0;
  font-size: 24px;
  color: #283645;
  font-weight: 300;
}

.advantages__wrapper {
  background-color: #f2f2f2;
  padding: 20px;
}

.advantages__item {
  margin: 20px 0;
  ;
}

.advantages__item h3 {
  font-size: 18px;
  line-height: 24px
}

.advantages__item p {
  font-size: 14px;
  line-height: 24px
}

/* Конец секции с приемуществами */

/* Начало секции с отзывами */

.reviews {
  background-color: white;
  text-align: center;
  padding: 20px;
}

.reviews__item h3 {
  font-size: 18px;
  line-height: 24px
}

.reviews__item p {
  font-size: 14px;
  line-height: 24px
}

/* Конец секции с отзывами */

.slider__controls {
  text-align: center;
}

/* Начало секции с ценами */

.price {
  background-color: #f2f2f2;
}


/* Конец секции с ценами */

/* Начало секции с контактами */

.feedback {
  background-color: white;
  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  text-align: center;
  padding-bottom: 240px;
}

.feedback__wrapper {
  background-color: white;
  padding: 20px;
}

.feedback__wrapper > p {
  margin: 0;
  padding: 20px 0;
  font-size: 24px;
  font-weight: 300;

}

.feedback__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.feedback__item {
  padding: 10px 0;
}

.feedback__item p {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}

.feedback__item a,
.feedback__item address {
  font-size: 24px;
  color: #d22856;
  font-weight: 300;
  font-style: normal;
}

/* Конец секции с контактами */



/* Страница с фотографиями */


/* Начало сеекции с фотографиями */

.page-photo {
  background-color: white;
}

.photos {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #283645;
}

.photos h2 {
  color: white;
  margin: 0;
  min-height: 170px;
  padding: 35px;
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  background-color: black;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 20%;
}

.photos > p {
  text-align: center;
  margin: 0;
  padding: 45px 35px;
  line-height: 30px;
}

.photos__list {
  list-style: none;
  margin: 0;
  padding: 0;
}



/* Начало фотографий пользователей */

.photos__item {
  background-color: #f2f2f2;
  margin: 20px;
}

.author {
  padding: 25px 13px;
}

.photos__like {
  display: flex;
  flex-wrap: wrap;
  padding-top: 15px;
  color: #d22856;
  font-size: 12px;
  text-transform: uppercase;
}

.author {
  display: flex;
  flex-wrap: wrap;
}

.author__name {
  color: #283645;
  font-size: 14px;
  font-weight: 700;
}

.author__time {
  padding: 0 4px;
  color: #d22856;
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}

.author p {
  margin: 0;
  width: 100%;
}

/* Конец фотографий пользователей */


/* Фотография дня */

.photos__day {
  position: relative;
  margin: 0px;
  .photos__author {
  margin: 0 20px;
  }
}

.photos__day-flag {
  position: absolute;
  top: 0;
  right: 20px;
  color: white;
  background-color: #d22856;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  padding: 6px 20px;
}

/* -- */


.download-photo p {
  font-size: 14px;
  line-height: 30px;
  margin: 0;
  text-align: center;
  padding: 0 20px;
}

.download-photo__wrapper {
  background-color: #f2f2f2;
  padding: 20px;
}

.download-photo__list {
  margin: 35px 20px;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.download-photo__controls {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

}

.download-photo__controls button {
  flex-grow: 1;
  margin: 6px 0;
  color: #d22856;
  border: 3px solid #d22856;
  background-color: white;
}

.scale-controls {
  position: relative;
  margin: 15px auto;
  padding: 0 20px;
}

.scale-bar {
  height: 2px;
  background-color: #283645;
  width: 240px;
}

.scale-controls__toggle {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: white;
  border: 2px solid #d22856;
  border-radius: 50%;
  left: 200px;
  top: -4px;
}

.page-footer {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-footer__logo {
  margin: 40px auto;
}

.social {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.social__item {
  margin: 0 6px;
  width: 45px;
  height: 45px;
  border: 3px solid #e9ebec;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.page-footer__html {
  margin: 40px auto;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.page-footer__html p {
  margin: 0;
  padding-right: 15px;
}


/* Страница с формой */

.page-form {
  background-color: white;
}

.page-form h2 {
  color: white;
  margin: 0;
  min-height: 170px;
  padding: 35px;
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  background-color: black;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 20%;
}

.page-form > p {
  margin: 0;
  padding: 20px;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}

.form__user {
  padding: 35px 20px;
}

.form__user > div {
  margin-bottom: 20px;
}

.form__user > div:last-child {
  margin-bottom: 40px;
}

.form__user label {
  padding-left: 20px;
  font-size: 14px;
  line-height: 30px;
  color: #d22856;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
}

.form__user input {
  padding: 20px;
  min-width: 280px;
  font-size: 18px;
  border: 2px solid #e5e5e5;
  border-radius: 2px;
  color: #283645;
}

.form__wrapper {
  background-color: #f2f2f2;
  padding: 40px 20px;
}

.options {
  border: 0;
  padding: 0;
}

.options legend {
  padding: 0 20px;
  font-size: 14px;
  line-height: 18px;
  color: #d22856;
  text-transform: uppercase;
  text-align: center;
}

.options__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.options__item {
  padding: 20px 0;
}

.options__item label {
  padding-left: 30px;
}

.form__text {
  padding: 35px 20px;
  text-align: center;
}

.form__text label {
  padding: 0 20px;
  font-size: 14px;
  line-height: 18px;
  color: #d22856;
  text-transform: uppercase;
  text-align: center;
}

.form__text textarea {
  margin-top: 20px;
  min-width: 280px;
  min-height: 200px;
  padding: 20px;
  font-size: 18px;
  border: 2px solid #e5e5e5;
  border-radius: 2px;
  color: #283645;
}


.form__button {
  min-width: 280px;
  margin: 20px;
  padding: 20px;
  color: white;
  background-color: #2aab6d;
  border: 0;
  text-transform: uppercase;
  border-radius: 2px;
}

.form > p {
  margin: 0;
  text-align: center;
}

.form span {
  color: #d22856;
}
